*.class
*.lst
*.jar
*.war
*.ear
bin/
pixel-editor/build/
pixel-editor/target/
.gradle/
build/
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
Thumbs.db
hs_err_pid*

pixel-editor/src/test/java/g82/testImages
